  <body>
    <main class="main">
      <div class="first-view">
        <div class="first-view-textarea">
          <h1 class="catchcopy">関西で作業場所探すなら<br>Coin-work</h1>
          <p class="subtext"></p>
          <a href="/shops/list" class="top-service-btn">詳細を見る</a>
          <%= form_with(url: search_shops_path, local: true, method: :get, class: "search-form") do |form| %>
            <%= form.text_field :keyword, placeholder: "エリア・ジャンル", class: "index-search-input" %>
            <%= form.submit "検索", class: "search-btn" %>
          <% end %>
        </div>
      </div>
        <a href="/shops/genre_manga"><div class="genre-card">
          <h2 class="genre-img2">漫画喫茶</h2>
          </div>
        </a>
        <a href="/shops/genre_karaoke"><div class="genre-card">
          <h2 class="genre-img3">カラオケ</h2>
          </div>
        </a>
        <a href="/shops/genre_space"><div class="genre-card">
          <h2 class="genre-img4">コワーキングスペース</h2>
          </div>
        </a>
       </div>
      </div>
  
      <div class="area-kensaku">
      <a href="/shops/area_osaka" class="osaka"><h1 class="timei-osaka">大阪</h1>
        <ul class="sub-osaka">
          <li class="top-area-osaka">難波</li>
          <li class="top-area-osaka">天王寺</li>
          <li class="top-area-osaka">梅田</li>
          <li class="top-area-osaka">新大阪</li>
        </ul>
        </a>
      <a href="/shops/area_hyogo" class="osaka"><h1 class="timei-hyogo">兵庫</h1>
        <ul class="sub-osaka">
          <li class="top-area-osaka">神戸</li>
          <li class="top-area-osaka">三宮</li>
          <li class="top-area-osaka">西宮</li>
          <li class="top-area-osaka">姫路</li>
        </ul>
      </a>
      <a href="/shops/area_kyoto" class="osaka"><h1 class="timei-hyogo">京都</h1>
      <ul class="sub-osaka">
        <li class="top-area-osaka">福知山</li>
        <li class="top-area-osaka">宮津</li>
        <li class="top-area-osaka">京都</li>
        <li class="top-area-osaka">宇治</li>
      </ul>
    </a>
    </div>
      
      <p class="services-section-bar">使用シーン</p>
      <div class="service-cardarea-use">
      <div class="service-card1">
          <div class="service-textarea">
            <img src="" alt="" class="service-logo">
            <h2 class="service-description">Working</h2>
            <div class="service-btn-use"><h5>電源・wifiが完備されているため、PC作業やデスクワークなどカフェやオフィス代わりとしてご利用いただけます。出張時にも便利な拠点になります。</h5></div>
          </div>
        </div>

        <div class="service-card2">
          <div class="service-textarea">
            <img src="" alt="" class="service-logo">
            <h2 class="service-description">FreeTime</h2>
            <div class="service-btn-use"><h5>休憩したいときや、待ち時間などのくつろぎスペースとしてご利用ください。携帯やPCのちょっとした充電もしていただけます。</h5></div>
          </div>
        </div>
    </div>
    <div class="service-cardarea-use">
    <div class="service-card3">
        <div class="service-textarea">
          <img src="" alt="" class="service-logo">
          <h2 class="service-description">Meeting</h2>
          <div class="service-btn-use"><h5>打ち合わせや面談、面接場所にもご利用いただけます。会議室が満室のときや、カフェで席がとれないときには、予約してご利用ください。</h5></div>
        </div>
      </div>

      <div class="service-card4">
        <div class="service-textarea">
          <img src="" alt="" class="service-logo">
          <h2 class="service-description">MeetUp</h2>
          <div class="service-btn-use"><h5>勉強会や朝活、オフ会、交流会など、さまざまな活動の拠点としてご利用いただけます。コミュニティ形成の場としても機能します。</h5></div>
        </div>
      </div>
  </div>

  <p class="services-section-bar">その他検索</p>
  <div class="other-list">
    <ul class="other-genre"><h3>ジャンル別で探す</h3>
    <div class="category-osaka">
      <a href="/shops/genre_fastfood"><li class="area-osaka">ファストフード</li></a>
      <a href="/shops/genre_cafe"><li class="area-osaka">カフェ</li></a>
      <a href="/shops/genre_karaoke"><li class="area-osaka">カラオケ</li></a>
      <a href="/shops/genre_manga"><li class="area-osaka">漫画喫茶</li></a>
      <a href="/shops/genre_space"><li class="area-osaka">コワーキングスペース</li></a>
      <a href="/shops/list"><li class="area-osaka">一覧ページ</li></a>
    </div>
    </ul>
    <ul class="other-area"><h3>その他条件・エリアで探す</h3>
    <div class="category-timei">
      <a href="/shops/area_osaka"><li class="area-osaka">大阪</li></a>
      <a href="/shops/area_osaka"><li class="area-osaka">梅田</li></a>
      <a href="/shops/area_osaka"><li class="area-osaka">新世界</li></a>
      <a href="/shops/area_osaka"><li class="area-osaka">天王寺</li></a>
      <a href="/shops/area_osaka"><li class="area-osaka">天満</li></a>
      <a href="/shops/area_kyoto"><li class="area-osaka">京都</li></a>
      <a href="/shops/area_kyoto"><li class="area-osaka">宮津</li></a>
      <a href="/shops/area_kyoto"><li class="area-osaka">天橋立</li></a>
      <a href="/shops/area_kyoto"><li class="area-osaka">京都市内</li></a>
      <a href="/shops/area_hyogo"><li class="area-osaka">兵庫</li></a>
      <a href="/shops/area_hyogo"><li class="area-osaka">姫路</li></a>
      <a href="/shops/area_hyogo"><li class="area-osaka">淡路島</li></a>
      <a href="/shops/area_hyogo"><li class="area-osaka">神戸</li></a>
      <a href="/shops/area_hyogo"><li class="area-osaka">西宮</li></a>

      <a href="/shops/area_hyogo"><li class="area-osaka">尼崎</li></a>
      <a href="/shops/area_kyoto"><li class="area-osaka">福知山</li></a>
      <a href="/shops/area_kyoto"><li class="area-osaka">宇治</li></a>
    </div>
  </ul>
  </div>
</body>

